# Apple things
.DS_Store
# XCode things
project.xcworkspace
xcuserdata
# VisualStudio things
*.aps
*.vcxproj.user
.vs
# build-dep things
build-dep-*.zip
# Output dirs
x64
artifacts
# program things
/lib
imgui.ini
