# Linux things
/app
*.a
*.o
*.so
# Apple things
*.dylib
# Windows things
*.exe
*.dll
*.pdb
*.exp
*.lib
x64
# VisualStudio things
*.vcxproj.filters
*.vcxproj.user
.vs
# Makefile things
.deps
# App things
*.ini
