# Apple things
.DS_Store
# XCode things
project.xcworkspace
xcuserdata
# VisualStudio things
*.aps
*.vcxproj.user
.vs
# renderdoc things
*.cap
# build-dep things
/lib
*.zip
*.log
# Output dirs
x64
artifacts
# program things
imgui.ini
